.RawHtmlOverview { margin-top: 20px; font-size: 18px; }
#errorModal .modal-dialog { top: 200px; }
#reportResultModal .modal-dialog { top: 200px; }
.terms-area{margin-bottom:30px;font-size:18px;}
.terms-area span{color:#fff}
    .terms-area a {color:#333333;font-weight:700; }